@{
    ViewData["title"] = "Home";
}

<div class="row" style="align-items: center; justify-content:center; flex-direction:row; ">
    <div class="col-md-7" style="text-align:center; align-content: center; margin-top: 36px">
        <h2>COMMING SOON</h2>
        <span>Welcome to FinWiz, log in to use and wait for new features.</span>
    </div>
</div>